.header-container {
    padding-left: 30px;
    padding-right: 30px;
    max-height: 74px;
}
header{
    background-color: #F1EFEC;
    position: fixed;
    top: 0; 
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
}
.nav-link, .login {
    font-family: "Alegreya Sans SC", sans-serif;
    color: #081C30;
    font-size: 1.3em;
}
.nav-link:hover, .nav-link:focus {
    color: #5288C0;
}
.nav {
    gap: 18px;
}
.login, .register{
    border-color: #081C30;
}
.register {
    background-color: #081C30; 
    color: #F1EFEC; 
    font-size: 1.3em;
    font-family: "Alegreya Sans SC", sans-serif;
}
.register:hover, .login:hover, .more-info:hover {
    background-color:  #5288C0;;
    border-color: #5288C0;;
    color: #F1EFEC; 
    box-shadow: none
  }
/* Додаткові стилі для авторизованого користувача */
.user-profile {
    cursor: pointer;
    transition: all 0.3s ease;
}

.user-profile:hover {
    opacity: 0.8;
}
.logout {
    background-color: transparent;
    border: 1px solid #081C30;
    color: #081C30;
    font-size: 1.3em;
    font-family: "Alegreya Sans SC", sans-serif;
}
.logout:hover {
    background-color: #5288C0;
    border-color: #5288C0;
    color: #F1EFEC;
}
.text-end {
    align-items: center;
    gap: 10px;
    display: flex;
    margin-left: 20px;
    font-family: "Alegreya Sans SC", sans-serif;
    color: #081C30;
    font-size: 1em;
}
.fa-solid {
    font-size: 1.4em;
    color: #081C30;
}
.fa-solid:hover {
    font-size: 1.4em;
    color: #081C30;
}
.btn-outline-dark {
    font-size: 1em;
}